@import url("https://doc-0c-78-docs.googleusercontent.com/docs/securesc/5p7jqb6vkc24dkesn18vhr1g6aro2vov/909ejuvjfd3hk97ukp7jbgg7sne358uq/1599543750000/15795814148517642466/15795814148517642466/16WV8rDSgjysCIdDd0HRmZJ5g4ysqgJwG?e=download&authuser=2&nonce=i66ok77pvjpau&user=15795814148517642466&hash=723glh8mml28su02vomk7m14o4p3ha6k");
@import url("https://doc-10-78-docs.googleusercontent.com/docs/securesc/5p7jqb6vkc24dkesn18vhr1g6aro2vov/376sa6hiffiuqb2biqrjeqpploh625tb/1599543750000/15795814148517642466/15795814148517642466/1r0WpvSCl6ZKpCHwm6OLn0YzKkF1j4xUT?e=download&authuser=2");

*
{
	margin: 0;
	padding: 0;
	font-family: "210 굴림 050";
}

html, body {
    width: 100%; height:100%; background: linear-gradient(to right, rgb(0, 157, 67), rgb(28, 35, 141));
}

ul, li { list-style: none; }

.question-box
{
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);

    color: white;
}

.question-box fieldset
{
    width: 90vw;
    height: 90vh;
    border: 1px solid white;
}

.question-box legend
{
    font-size: 14pt;
}

.question-box #question
{
    position: relative;
    text-align: center;
    top: 35%;
    transform: translateY(-50%);
    
    font-size: 20pt;
}

.question-box button
{
    border: 1px solid white;
    background-color: transparent;
    width: 40%;
    height: 80px;
    
    font-family: "210 굴림 030";
    font-size: 12pt;
    color: white;

    transition: background-color 0.2s;
}

.question-box button:hover
{
    background-color: white;
    color: black;

}

.question-box #button-group
{
    position: relative;
    
    top: 70%;
    transform: translateY(-50%);
}

.question-box #group1
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;

}

.question-box #group2
{
    display: flex;
    justify-content: space-around;

}